{#% form_theme form '@forms/Frontend/form_theme.html.twig' %#}

{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message|raw }}
        </div>
    {% endfor %}
{% endfor %}

{% if scrollToSuccessText is defined and scrollToSuccessText and form.vars.submitted %}
    {% set formScrollAnchor = 'anchor-'~form.vars.full_name %}
    <div id="{{ formScrollAnchor }}"></div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            setTimeout(() => {
                var bodyRect = document.body.getBoundingClientRect();
                var elemRect = document.getElementById('{{ formScrollAnchor }}').getBoundingClientRect();
                var offset  = elemRect.top - bodyRect.top;

                window.scrollTo({
                    top: offset - 140,
                    behavior: 'smooth'
                });
            }, 250);
        });
    </script>
{% endif %}

{% if form.vars.submitted == false or form.vars.valid == false or ignore_validation %}
    {{ form(form) }}
{% endif %}
