{% macro button(uuid, version, itemName, icon) %}
    <a class="btn btn-secondary btn-sm" href="{{ path('forms_add_item', {formUuid: uuid, onVersion: version, itemName: itemName}) }}">
        <span class="fa {{ icon }}"></span>
        {{ itemName|trans }}
    </a>
{% endmacro %}
{% import _self as forms %}

{% if config.item_types is defined %}
    <div class="btn-group">
        <span class="btn btn-secondary btn-sm text-bold" style="text-decoration: none;">{{ 'Add field'|trans }}</span>

        {% for name, itemType in config.item_types %}
            {{ forms.button(uuid, version, name, itemType.icon) }}
        {% endfor %}
    </div>
{% endif %}
